<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to this App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client" />
        <section name="microsoft.xrm.portal" type="Microsoft.Xrm.Portal.Configuration.PortalCrmSection, Microsoft.Xrm.Portal" />
        <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    </configSections>
    <paypal>
        <!--Test credentials Cloudrocket Payment Test-->
        <settings>
            <add name="mode" value="sandbox" />
            <add name="connectionTimeout" value="30000" />
            <add name="requestRetries" value="1" />
            <add name="clientId" value="PayPalClientId" />
            <add name="clientSecret" value="PayPalClientSectret" />
        </settings>
     </paypal>

    <!--Full parameters at http://msdn.microsoft.com/en-us/library/gg695805.aspx -->
    <!--Good blog post at http://community.dynamics.com/crm/b/develop1/archive/2013/09/27/microsoft-xrm-client-part-3b-configuration-via-app-web-config.aspx-->
    <microsoft.xrm.client>
        <contexts>
            <add name="CloudrocketAzure" type="Cloudrocket.Xrm.XrmServiceContext, Cloudrocket.Xrm" connectionStringName="CloudrocketAzure" />
        </contexts>
        <!--Caching details: http://msdn.microsoft.com/en-us/library/83124000-0f48-4477-a250-5fab0854aace(v=crm.6)#instanceMode-->
        <!--Disables cache.  http://msdn.microsoft.com/en-us/library/gg695805.aspx-->
        <!--<services>
      <add name="CloudrocketOffice365" type="Microsoft.Xrm.Client.Services.OrganizationService, Microsoft.Xrm.Client" instanceMode="PerRequest" />
    </services>-->
    </microsoft.xrm.client>
    <connectionStrings>
        <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Cloudrocket.Web-20130210092112;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Cloudrocket.Web-20130210092112.mdf" providerName="System.Data.SqlClient" />-->
        <add name="CloudrocketAzure" connectionString="Url=http://westus-crm.cloudapp.net/Cloudrocket/XRMServices/2011/Organization.svc;Domain=DOMAIN;Username=CrmUserName;Password=CrmUserPassword;DeviceID=Cloudrocket-DeviceID;DevicePassword=DeviceP@ssw0rd" />
    </connectionStrings>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="SendGridMail" publicKeyToken="2ae73662c35d80e4" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Xrm.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>
